<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>For 萧雨冰冰</title>
  </head>
  <body>
    <h1></h1>
<div>当前操作的SVN地址<br><%= @cmdresult1 %></div>
<br>
请选择要Release的TAG:     
<%= @cmdresult1%>/tags/<form action="/createresult"  method="get">
<select name="tags">
<% @cmdresult2.each do |tmp| %>
<option value="<%= tmp %>"><%= tmp %></option>
<% end %>
</select> 
<div>创建的Release名称：<%=@cmdresult1+"/release/" %><input type="text" name="releasenum" value="<%= @cmdresult3 %>"></div>

<div>请输入创建日志：<%=@cmdresult1%>/release/<input type="text" name="svnlog" value="创建Release by System"></div>
<input type="hidden" name="hidden" value="<%= @keyname %>">
<input type="hidden" name="hidden2" value="<%= @cmdresult4 %>">
<input type="submit" value="submit">
</form>

  </body>
</html>
