
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>FOR 萧雨冰冰</title>
  </head>
  <body>
    <h1></h1>
    <form action="<%= @postid %>" method="get">
      <div> Please select  th Option <br></div>

      <% @@display_menu.each do |menu_key,menu_value| %>
         <div> <input type="checkbox" name="key" value="<%= menu_key %>"> [<%= menu_key %>] <%= menu_value %>
      <br>  </div>
          <% end %>
        <input type="submit" value="submit">
    </form>

    <% if @key %>
        <div id="result">
           你选择的是 :
          <%= @key||@key2 %>

        </div>
  <% end %>
    <% if @key2 %>
      <div id="result">
                你选择的是 :
                   <%= @key2 %>

             </div>
    <% end %>
  </body>
</html>